# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    sudo apt update
    sudo apt -y install make build-essential ruby ruby-dev
    gem install jekyll bundler
    ls
  displayName: 'Run a multi-line script'
