<p></p>
<table>
    <tr>
        <td>
            <p></p>
            <script type="text/javascript" src="/js/button.prod.min.js" data-name="bmc-button" data-slug="rootisgod" data-color="#000000" data-emoji="🍺" data-font="Bree" data-text="Buy Me a Beer!" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>
            <p></p>
        </td>
        <td>
            <img alt="RootIsGod" src="/images/bitcoin-qr.png" width="200" height="200">
        </td>
    </tr>
</table>
<p></p>
